.slick-slider { position: relative; }
.slick-dots { position: absolute; bottom: 12px; left: 50%; transform: translateX(-50%); margin: 0; z-index: 30; }
.slide-box { padding: 0 16px; display: flex; justify-content: center; }
