.proveedor-container {
  padding: 2rem;
}

.proveedor-card-detalle {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

.proveedor-card-img {
  border-radius: 8px;
}

.proveedor-section {
  margin-bottom: 1.5rem;
}

.disponible {
  color: green;
}

.limitada {
  color: orange;
}

.desconocida {
  color: gray;
}

.reseñas-list {
  padding-left: 0;
  list-style: none;
}
